.layout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.layout .list-container {
  width: 40%;
}

.layout .list-container .list-header {
  text-align: center;
  width: 100%;
}

.layout .list-container .list-header h2 {
  margin: 0;
  font-size: 33px;
}

.layout .list-container .list-header h5 {
  margin-top: 10px;
  color: #999;
  text-transform: uppercase;
}

.layout .list-container .empty-list {
  font-style: italic;
  color: #999;
}
