.item-box {
  background: #fff;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  height: 35px;
  line-height: 35px;
}

.item-box .title {
  font-weight: bold;
}
