.item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  height: 35px;
  line-height: 35px;
}

.item-box .title {
  font-weight: bold;
}

.item-box button {
  border: 0;
  outline: 0;
  background: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
